@import url('__logo/header__logo.css'); 
@import url('__wrapper/header__wrapper.css');
@import url('__btn/header__btn.css');
.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}
